footer {
	background-color: #e5e5e5;
	border-top: 1px solid #bebebe;
	font-size: 0.8rem;
	display: flex;
	justify-content: space-between;
	padding: 0.4em 2em;
	flex: 0 0 0;
}

footer p {
	display: flex;
	align-items: center;
	gap: 1em;
	margin: 0;
}

#logo-bonapp-footer {
	width: 6em;
}
