header {
	display: grid;
	grid-template-areas:
		"logo topNav account"
		"slider slider slider";
	grid-template-columns: 20em 1fr 25em;
	grid-template-rows: 1fr 4fr;
	padding: 0 3em;
}

/* Semantic : grid areas*/
#area-header-logo {
	grid-area: logo;
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
}

#area-header-nav {
	grid-area: topNav;
	/* border: 1px solid black; */
	display: flex;
	align-items: center;
	font-size: 1.3em;
	font-weight: 500;
}

#area-header-account {
	grid-area: account;
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
	align-items: center;
}

#area-header-slider {
	grid-area: slider;
	/* border: 1px solid black; */
	padding: 1em 3em;
	/* background-color: red; */
}

/* Grid elements */
#area-header-logo #logo-bonapp-header {
	width: 14em;
}

#area-header-nav #top-nav {
	display: flex;
	gap: 3em;
	list-style: none;
}
