html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Grid */
#root {
	height: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-areas:
		"head head"
		"side content"
		"foot foot";
	grid-template-columns: 20em 1fr;
	grid-template-rows: 26em 1fr 4em;
}

/* Semantique : répartition de la grid */
header {
	grid-area: head;
	/* border: 1px solid red; */
}

aside {
	grid-area: side;
	border: 1px solid black;
	padding: 2em 4em;
}

main {
	grid-area: content;
	border: 1px solid black;
	padding: 2em;
}

footer {
	grid-area: foot;
	/* border: 1px solid black; */
}

/* All outlines */
*:focus-visible {
	outline: none;
}
