html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Grid */
#root {
	height: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-areas:
		"head head"
		"side content"
		"foot foot";
	grid-template-columns: 20em 1fr;
	grid-template-rows: 10em 1fr 4em;
}

/* Semantique : répartition de la grid */
header {
	grid-area: head;
	border: 1px solid black;
}

aside {
	grid-area: side;
	border: 1px solid black;
}

main {
	grid-area: content;
	border: 1px solid black;
}

footer {
	grid-area: foot;
	background: linear-gradient(-225deg, #a2e8d6 0%, #50a7c2 100%);
	display: flex;
	align-items: center;
	padding: 0 3em;
	border: 1px solid black;
}

/* All outlines */
*:focus-visible {
	outline: none;
}
